* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
    /* text-align: center; */
    width: 880px;
    min-height: 100vh;
  }

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center; 
}

.Moveble-block {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    z-index: 1;
    position: absolute;
    cursor: grab;
    text-align: center;
  } 